{% extends 'layout/base.html' %}
{% load static %}
{% load social_share %}


{% block title %}
    {{actualite.titre}}
{% endblock %}

{% block header %}
<div class="container-xxl py-2 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Detail</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{% url 'actualites_url' %}">Actualités</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Detail</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-xxl my-5">
            <div class="container px-md-5">
                <div class="row px-md-5">
                    <h3 class="mb-4">{{actualite.titre}}</h3>
                    <img src="{{actualite.image.url}}" class="col-12" style="max-height: 350px; object-fit: cover;">
                </div>

                <div class="bg-danger mb-1 mx-md-5" align="center" style="max-width: 100px;">
                    <span class="text-light text-center" style="font-size: 13px;">{{actualite.date}}</span>
                </div>

                <div class="row mt-3 px-md-5">
                    <div class="col-12">
                        {{actualite.description|safe}}
                    </div>
                </div>

                <div class="row mt-3 px-md-5">
                    <div class="col-12 p-5 pt-1 pb-0 blog-share">
                        <h5 class="text-center">Partagez autour de vous! <br><br>
                            
                          {% post_to_facebook object_or_url "<i class='fab fa-facebook-f'></i>" "text-center partage-1 btn btn-primary" %}

                          {% post_to_whatsapp object_or_url "<i class='fab fa-whatsapp'></i>" "text-center partage-2 btn btn-success" %}

                          {% post_to_telegram "{{detail.titre}}" object_or_url '<i class="fab fa-telegram"></i>' "text-center partage-3 btn btn-primary" %}


                        </h5>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}