{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
<div class="container-xxl py-2 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contacts</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Contacts</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}



<div class="container-xxl my-5" id="contact">
    <div class="container">

        <div class="row py-3">
            <div class="col-md-12 wow fadeInUp block-titre" data-wow-delay="0.1s">
                <h5>NOS CONTACTS PAR CENTRE</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s" style="padding-left: 20px; margin-bottom: 20px; border-left: 10px solid #dc3545;">

                <h5 style="max-width: 170px; margin-bottom: 20px; background-color: #dc3545; color: #fff;" class="px-3">Brazzaville</h5>

                <h6>CEFA Metiers de services</h6>

                <ul>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                    Derrière l'église Tenrikyo Moukounzi Ngouaka</li>

                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 625 43 24">(+242) 06 625 43 24</a></li>

                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Conseiller:</b> <a href="tel:+242 06 987 84 84">(+242) 06 987 84 84</a> / <a href="tel:+242 06 987 84 84">05 554 84 84</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <a href="mailto:hemerson2040@gmail.com">hemerson2040@gmail.com</a></li>
                </ul>

                <h6>CEFA Metiers du batîment, froid et climatisation</h6>
                <ul>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                        Entre les lycées techniques industriel et commercial 1<sup>er</sup> Mai</li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 641 91 68">(+242) 06 641 91 68</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Conseiller:</b> <a href="tel:+242 06 659 30 88">(+242) 06 659 30 88</a> / <a href="tel:+242 05 551 88 05">05 551 88 05</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <a href="mailto:mowandza@gmail.com">mowandza@gmail.com</a></li>
                </ul>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s" style="padding-left: 20px; margin-bottom: 20px; border-left: 10px solid #0d6efd;">

                <h5 style="max-width: 170px; margin-bottom: 20px; background-color: #0d6efd; color: #fff;" class="px-3">Pointe - Noire</h5>

                <h6>CEFA Metiers de maintenance industrielle</h6>
                <ul>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        Avenue de l'aéroport en allant vers les chevaux (enceinte ex CETI)</li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 960 71 65">(+242) 06 960 71 65</a> / <a href="tel:+242 05 531 61 43">05 531 61 43</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Conseiller:</b> <a href="tel:+242 06 473 89 91">(+242) 06 473 89 91</a> / <a href="tel:+242 05 076 37 23">05 076 37 23</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <a href="mailto:ntselgeorges@gmail.com">ntselgeorges@gmail.com</a></li>
                </ul>

                <h6>CEFA Mécanique automobile</h6>
                <ul>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                    Dans l'enceinte de l'institut Thomas SANKARA</li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 810 39 97">(+242) 06 810 39 97</a> / <a href="tel:+242 04 499 57 65">04 499 57 65</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <a href="mailto:d.christmaha@gmail.com">d.christmaha@gmail.com</a></li>
                </ul>

                <h6>CEFA Métiers de service</h6>

                <ul>
                    <li>
                    <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                    Avenue Marien NGOUABI (bord-bord à côté de la station PUMA)</li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 879 83 53">(+242) 06 879 83 53</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Conseiller:</b> <a href="tel:+242 06 695 08 23">(+242) 06 695 08 23</a> / <a href="tel:+242 05 547 62 15">05 547 62 15</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <a href="mailto:solangeyamba17@gmail.com">solangeyamba17@gmail.com</a></li>
                </ul>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s" style="padding-left: 20px; margin-bottom: 20px; border-left: 10px solid green;">

                <h5 style="max-width: 170px; margin-bottom: 20px; background-color: green; color: #fff;" class="px-3">Dolisie</h5>

                <h6>CEFA Metiers rureaux</h6>
                <ul>
                    <li>
                    <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                    Dans l'enceinte du CEMI-CETM (Petit ZANAGA)</li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Direction:</b> <a href="tel:+242 06 910 80 75">(+242) 06 910 80 75</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <b>Conseiller:</b> <a href="tel:+242 06 623 48 75">(+242) 06 623 48 75</a> / <a href="tel:+242 05 339 58 15">05 339 58 15</a></li>
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>



                        <a href="mailto:guybertinsolo@gmail.com">guybertinsolo@gmail.com</a></li>
                </ul>

            </div>
        </div>

        <!-- <div class="row py-3">
            <div class="col-md-12 wow fadeInUp block-titre" data-wow-delay="0.1s">
                <h5>NOUS SUIVRES</h5>
            </div>
        </div> -->
        
    </div>
</div>

{% block content %}

<div class="container-xxl my-5" id="contact">
    <div class="container">

        <div class="row px-md-4 px-2">
            <div class="col-md-6 offset-md-3 wow fadeInUp" data-wow-delay="0.1s" style="padding-left: 20px; margin-bottom: 20px; border-left: 10px solid #dc3545;">

                <h5 style="max-width: 170px; margin-bottom: 20px; background-color: #dc3545; color: #fff;" class="px-3">Nos contacts</h5>


                <h6>CEFA Metiers du batîment, froid et climatisation</h6>
                <ul id="ul-contact">
                    <li>
                        <div class="div-icon">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>

                        <div>
                            Entre les lycées techniques industriel et commercial 1<sup>er</sup> Mai
                        </div>

                    </li>

                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <div>
                            <b>Direction:</b> <a href="tel:+242 06 641 91 68">(+242) 06 641 91 68</a>
                        </div>
                    </li>

                    <li>
                        <div class="div-icon">
                            <i class="fa fa-phone-alt"></i>
                        </div>

                        <div>
                            <b>Conseiller:</b> <a href="tel:+242 06 659 30 88">(+242) 06 659 30 88</a> / <a href="tel:+242 05 551 88 05">05 551 88 05</a>
                        </div>
                    </li>

                    <li>
                        <div class="div-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        
                        <div>
                            
                            <a href="mailto:mowandza@gmail.com">mowandza@gmail.com</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row my-3">

            <div class="col-md-6 offset-md-3 wow fadeInUp" data-wow-delay="0.1s">

                <div class="mb-3">
                    <small>Merci de remplir ce formulaire de contact pour joindre l'administration du CEFA MB-FC</small>
                </div>

                {% if messages %}
                        {% for message in messages %}

                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Erreur !</strong> {{message}}
                                </div>

                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                      <strong>Reussie !</strong> {{message}}
                                </div>
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                <!-- formulaire contact -->
                <form method="POST" id="form-inscription">
                    {% csrf_token %}
                    <div class="form-group mb-1">
                        <label class="form-label">Nom</label>
                        <input  class="form-control" type="text" name="nom" placeholder="Nom complet">
                    </div>

                    <div class="row">
                        <div class="form-group mb-1 col-md-6">
                            <label class="form-label">Téléphone</label>
                            <input class="form-control" type="text" name="telephone" placeholder="Numéro de téléphone">
                        </div>

                        <div class="form-group mb-1 col-md-6">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" name="email" placeholder="Adresse électronique">
                        </div>
                    </div>

                    <div class="form-group mb-1">
                        <label class="form-label">Objet de votre message</label>
                        <input  class="form-control" type="text" name="objet" placeholder="Objet de votre message">
                    </div>

                    <div class="form-group mb-2">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" style="height: 90px;" name="message" placeholder="Votre message en quelques mots !"></textarea>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-danger col-12" value="Envoyer">
                    </div>
                </form>
            </div>
        </div>

        <!-- <div class="row py-3">
            <div class="col-md-12 wow fadeInUp block-titre" data-wow-delay="0.1s">
                <h5>NOUS SUIVRES</h5>
            </div>
        </div> -->
        
    </div>
</div>
{% endblock %}