{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
<div class="container-xxl py-2 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Inscription</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Inscription</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="container-xxl my-5">
    <div class="container">

        <div class="row pt-3">
            <!-- <div class="col-md-6 offset-md-3 wow fadeInUp block-titre" data-wow-delay="0.1s">
                <h5>CONDITIONS D'INSCRIPTION</h5>
            </div> -->
        </div>
    

	    <div class="row pb-3">
	        <!-- <div class="col-md-6 offset-md-3 my-1 p-0">
                <div class="accordion">
                    
                    <div class="contentBx">
                        <div class="label">Formation initiale par apprentissage type dual</div>
                        <div class="content">
                            <ul>
                                <li>A partir de 16 ans</li>
                                <li>Contrat d'apprentissage</li>
                                <li>Dossier d'inscription</li>
                                <li>Admissible au test d'entrée au CEFA</li>
                            </ul>
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="label">list</div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="label">list</div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>

                    <div class="contentBx">
                        <div class="label">list</div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>
            </div> -->



	        <div class="col-md-6 offset-md-3 wow fadeInUp py-3 mt-3" data-wow-delay="0.1s" style="border: 1px solid black; border-radius: 5px;">
	            <h6 class="mx-3">Dossier à fournir en presentiel</h6>
	            <ul>
	                <li><span>01</span> Formulaire fourni par le CEFA</li>
	                <li><span>02</span> Photos identité en couleur</li>
	                <li><span>01</span> Photocopie d'acte de naissance</li>
	                <li><span>01</span> Photocopie légalisée du dernier diplôme ou Attestion de Niveau</li>
	                <li><span>01</span> Enveloppe kaki A4</li>
	                <li>Frais d'etude du dossier <span>5000Fcfa</span></li>
	                <li id="message"><span>01</span> Formulaire fourni par le CEFA</li>
	            </ul>
	        </div>
	    </div>


        <div class="row pt-3">
            <div class="col-md-6 offset-md-3 wow fadeInUp" data-wow-delay="0.1s">
                {% if messages %}
                        {% for message in messages %}

                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Erreur !</strong> {{message}}
                                </div>

                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                      <strong>Reussie !</strong> {{message}}
                                </div>
                            {% endif %}

                        {% endfor %}

                    {% endif %}
            </div>
        </div>

	    <div class="row pb-3">
                    <div class="col-md-6 offset-md-3 wow fadeInUp py-3" data-wow-delay="0.1s">

                    </div>

                    <div class="col-md-6 offset-md-3 wow fadeInUp" data-wow-delay="0.1s">
                        <form method="POST" id="form-inscription">
                            {% csrf_token %}
                            <div class="form-group my-2">
                                <label class="form-label">Nom(s)</label>
                                {{form.nom}}
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Prénom(s)</label>
                                {{form.prenom}}
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Date de naissance</label>
                                <input type="date" name="date_naissance" class="form-control">
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Vous êtes ? </label>

                                <label for="homme" class="form-check-label">homme</label>
                                <input class="form-check-input" type="radio" name="genre" value="homme" id="homme">

                                <label for="femme" class="form-check-label">femme</label>
                                <input class="form-check-input" type="radio" name="genre" value="femme" id="femme">
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Télephone</label>
                                {{form.telephone}}
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Email</label>
                                {{form.email}}
                            </div>

                            <div class="form-group my-2">
                                <label class="form-label">Ville</label>
                                {{form.ville}}
                            </div>


                            <div class="form-group my-2">
                                <label class="form-label">Faite le choix de votre filière</label>
                                <select name="choix_cefa" class="form-select">
                                        <optgroup label="Faite le choix de votre filière">

                                            <option value="Equipements froid, climatisation et Froid électroménager">Equipements froid, climatisation et Froid électroménager</option>
                                            <option value="Menuiserie, charpente, bois, couverture">Menuiserie, charpente, bois, couverture</option>
                                        
                                            <option value="Finitions du bâtiment">Finitions du bâtiment</option>

                                            <option value="Construction métalique-aluminium et verre">Construction métalique-aluminium et verre</option>

                                            <option value="Installations électrique et domotique">Installations électrique et domotique</option>

                                            <option value="Installations sanitaire et traitement des eaux">Installations sanitaire et traitement des eaux</option>

                                            <option value="Gros oeuvre du bâtiment">Gros oeuvre du bâtiment</option>
                                            
                                        </optgroup>
                                        

                                </select>
                            </div>

                            <div class="form-group my-2">
                                <button type="submit" class="btn btn-danger col-12">Envoyer</button>
                            </div>

                            <div class="form-group my-2">
                                <small>
                                    L'administration de CEFA MB-FC est ouverte du lundi au vendredi de 7h00 à 17h00.
                                </small>
                            </div>
                        </form>
                    </div>
                </div>

	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    const accordion = document.getElementsByClassName('contentBx');

    for(i = 0; i < accordion.length; i++){
        accordion[i].addEventListener('click', function(){
            this.classList.toggle('active')
        })
    }
</script>
{% endblock %}